<?xml version="1.0" encoding="UTF-8" ?>
<Server version="8">
    <Name>GenesisPro-OME</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <PrivacyProtection>false</PrivacyProtection>
    <StunServer>stun.l.google.com:19302</StunServer>

    <Modules>
        <HTTP2>
            <Enable>true</Enable>
        </HTTP2>
        <LLHLS>
            <Enable>true</Enable>
        </LLHLS>
    </Modules>

    <Bind>
        <Managers>
            <API>
                <Port>8081</Port>
                <WorkerCount>1</WorkerCount>
            </API>
        </Managers>

        <Providers>
            <RTMP>
                <Port>1935</Port>
                <WorkerCount>1</WorkerCount>
            </RTMP>
            <WebRTC>
                <Signalling>
                    <Port>3334</Port>
                    <WorkerCount>1</WorkerCount>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>*:3478</TcpRelay>
                    <IceCandidate>147.93.181.75:10000-10005/udp</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Providers>

        <Publishers>
            <LLHLS>
                <Port>3333</Port>
                <WorkerCount>1</WorkerCount>
            </LLHLS>
        </Publishers>
    </Bind>

    <Managers>
        <Host>
            <Names>
                <Name>*</Name>
            </Names>
        </Host>
        <API>
            <AccessToken>genesispro_ome_api_2024</AccessToken>
        </API>
    </Managers>

    <Defaults>
        <CrossDomains>
            <Url>*</Url>
        </CrossDomains>
    </Defaults>

    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Distribution>genesispro.vip</Distribution>

            <Host>
                <Names>
                    <Name>*</Name>
                </Names>
            </Host>

            <Applications>
                <Application>
                    <Name>live</Name>
                    <Type>live</Type>

                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Video>
                                    <Bypass>true</Bypass>
                                </Video>
                                <Audio>
                                    <Bypass>true</Bypass>
                                </Audio>
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>

                    <Providers>
                        <RTMP />
                        <WebRTC />
                    </Providers>

                    <Publishers>
                        <LLHLS>
                            <ChunkDuration>0.3</ChunkDuration>
                            <SegmentDuration>3</SegmentDuration>
                            <SegmentCount>5</SegmentCount>
                        </LLHLS>
                        <WebRTC>
                            <Timeout>30000</Timeout>
                        </WebRTC>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>
